<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Salcedo Produce</ion-title>
    <ion-buttons slot="end" *ngFor="let enlace of enlaces">
      <ion-button (click)="openUrl(enlace.facebook,'_self')">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button (click)="openUrl(enlace.youtube,'_self')">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-button>
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>