<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="content">
    
    
    <ion-card class="content_card">
    <ion-card-header>
      <ion-card-title>Catalogo</ion-card-title>
    </ion-card-header>
      <ion-card-content>
        <ion-slides  [options]="option" >    
                
          <ion-slide *ngFor="let categoria of categorias" [routerLink]="[idAleatorio]">
            <ion-card >
              
              <ion-img [src]="[categoria.imagenCategoria]"></ion-img>
            </ion-card>
          </ion-slide>
          
        </ion-slides>
      </ion-card-content>
    </ion-card>

  <ion-card class="content_card">
    <ion-card-header>
      <ion-card-title>Arte en Tejido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      <ion-slides  [options]="option" >          
        <ion-slide *ngFor="let lista of listaTejido"  [routerLink]="['1','1']">
            <ion-card >
              
              <ion-img [src]="[lista.imagenPortada]"></ion-img>
            </ion-card>
          </ion-slide>
          
        </ion-slides>
      </ion-card-content>
    </ion-card>

    <ion-card class="content_card">
    <ion-card-header>
      <ion-card-title>Diseño Personalizado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
        <ion-slides  [options]="option" >          
          <ion-slide *ngFor="let lista of listaMadera"  [routerLink]="['1','2']">
            <ion-card >
              
              <ion-img [src]="[lista.imagenPortada]"></ion-img>
            </ion-card>
          </ion-slide>
          
        </ion-slides>
      </ion-card-content>
    </ion-card>
    
  <ion-card class="content_card">
    <ion-card-header>
      <ion-card-title>Sabores para tu Paladar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        
      <ion-slides  [options]="option" >          
          <ion-slide *ngFor="let lista of listaGastronomia"  [routerLink]="['1','3']">
            <ion-card >
              
              <ion-img [src]="[lista.imagenPortada]"></ion-img>
            </ion-card>
          </ion-slide>
          
        </ion-slides>
      </ion-card-content>
  </ion-card>
  
  <ion-card class="content_card">
    <ion-card-header>
      <ion-card-title>Conoce Salcedo</ion-card-title>
    </ion-card-header>
      <ion-card-content>
        
        <ion-slides  [options]="option" >          
          <ion-slide *ngFor="let lista of listaTurismo"  [routerLink]="['3','1']">
            <ion-card >
              
              <ion-img [src]="[lista.imagenPortada]"></ion-img>
            </ion-card>
          </ion-slide>
          
        </ion-slides>
      </ion-card-content>
    </ion-card>
  </div>

  <app-footer></app-footer>
</ion-content>
