ion-toolbar {
  --background: #1c2b59;
  --ion-text-color: #ffffff;
}
.content_card {
  padding: 0;
  margin: 0;
  margin-bottom: 1%;
}
ion-slide ion-card {
  padding: 0;
  margin: 1%;
  height: 20vh;
}
ion-fab-button ion-icon {
  color: white;
}
