<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Salcedo Produce</ion-list-header>    

          <ion-menu-toggle auto-hide="false" >
            <ion-item button routerLink="folder">
              <ion-icon slot="start" name="Home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
            <div *ngFor="let getItems of items">

              <ion-item button [routerLink]="['folder/',getItems.id]"  >
                <ion-icon slot="start" [ios]="getItems.icono" [md]="getItems.icono"></ion-icon>
                <ion-label>{{ getItems.nombreItem }}</ion-label>
              </ion-item>
            </div>
          </ion-menu-toggle>
        </ion-list>
        <!--<ion-item routerDirection="root" [routerLink]="['folder/',getItems.id]"  lines="none" detail="false" routerLinkActive="selected">-->
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
